footer{
    position: fixed;
    margin-bottom: 0px;
    box-sizing: border-box;
    background-color: rgba(22, 23, 29, 0.9);
    padding: 10px 50px 0 50px;
    width: 100%;
}

.container{
    display: flex;
}

.links{
    margin: 0px 50px 0px 50px;
}

.social-media{
    margin: 0px 50px 0px 50px;
}

.link-list{
    display: block;
    width: 100%;
    list-style: none;
    height: 10vw;
}

.link-item > a{
    margin: 20px 0 20px 0;
    text-decoration: none;
    color: #ffffff;
}

li{
    margin: 5px 0 5px 0;
}

.copyright{
    text-align: center;
    font-family: sans-serif;
    margin: 20px 0px 20px 0px;
}