html {
  height: 100%;
  overflow: hidden;
}

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #000000;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  margin-top: -8vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  align-items: center;
}

header,
header:before {
  background-size: cover;
}

header::before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/BK1.jpeg");
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header * {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}
